@model IEnumerable<DiscFor.Models.User>

@{
    ViewBag.Title = "Index";
}


<h3>Registered Users:</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
    </tr>
}

</table>
