@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<pre>
    <h3>
        Developers:

        Varun Shah    -v1a9r9u8n@gmail.com
        Utsav Varia     -utsav99varia@gmail.com
        Vineet Khanna   -vineetkhannavk@gmail.com

    </h3>
</pre>